// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$white: $lightest-slate;

$body-bg: #0a192f;
$body-color: $light-slate;
$primary: #64ffda;
$secondary: $lightest-slate;

$text-muted: $slate;
$font-family-base: "IBM Plex Mono", monospace;
$enable-responsive-font-sizes: true;

$navbar-dark-color: $slate;
$navbar-dark-hover-color: $primary;
$navbar-dark-disabled-color: $primary;
$navbar-dark-toggler-border-color: none;

$card-bg: #020c1b;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

h1 {
  color: $lightest-slate;
}

.hero-text {
  width: 66%;
  margin: 0 3em;
}

// Why does a min-vh-60 class in html not work like in hero-section???
.about,
.projects {
  // min-height: 60vh;
}

.about {
}

.projects {
  margin-top: 3rem;
}

.fa-external-link-alt {
  font-size: 1.5rem;
}

.contact {
  margin-top: 3rem;
  // padding: 2.5rem 0;
  font-size: 1.5rem;
}
