// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #0a192f;
$body-color: #e6f1ff;
$primary: #64ffda;
$secondary: rgba(100, 255, 218, 0.1);
$font-family-base: "IBM Plex Mono", monospace;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

.hero-text {
  width: 66%;
  margin: 0 3em;
}

// Why does a min-vh-60 class in html not work like in hero-section???
.about,
.projects {
  min-height: 60vh;
}

.contact {
  margin: 5rem auto;
  padding: 2.5rem 0;
  font-size: 1.5rem;
}
